<!DOCTYPE html>
<html class="metro-no-touch-device">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/metro")
    @*@RenderSection("scripts", required: true)*@
</head>
<body>
    <div class="app-bar-expand-md bg-lightBlue" data-role="appbar">
        <a><img src="~/Content/images/pin.png" /></a>
        <ul class="app-bar-menu ml-auto">
            <li>
                <a class="fg-yellow-hover bg-darkBlue-hover no-hover">首页</a>
            </li>
            <li>
                <a class="dropdown-toggle fg-yellow-hover bg-lightBlue-focus">信息</a>
                <ul class="d-menu " data-role="dropdown">
                    <li class="bg-yellow-hover"><a >挂拍公告</a></li>
                    <li class="divider bg-lightgray"></li>
                    <li class="bg-yellow-hover"><a>工业用地专区</a></li>
                    <li class="divider bg-lightgray"></li>
                    <li class="bg-yellow-hover"><a>热点聚焦</a></li>
                    <li class="divider bg-lightgray"></li>
                    <li class="bg-yellow-hover"><a>地产新闻</a></li>
                    <li class="divider bg-lightgray"></li>
                    <li class="bg-yellow-hover"><a>房产新闻</a></li>
                    <li class="divider bg-lightgray"></li>
                    <li class="bg-yellow-hover"><a>业界观点</a></li>
                    <li class="divider bg-lightgray"></li>
                    <li class="bg-yellow-hover"><a>政策法规</a></li>
                    <li class="divider bg-lightgray"></li>
                    <li class="bg-yellow-hover"><a>地产金融</a></li>
                </ul>
            </li>
        </ul>


    </div>

















    @RenderBody()


</body>
</html>
